*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.table-layout{
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}
.table-layout td{
    border: 1px solid black;
    width: 120px;
    height: 20px;
}
.table-layout th{
    border: 1px solid black;
    width: 120px;
    height: 40px;
}
#sym{
    width: 20px;
    height: 20px;
}